header, aside, main {
    border: 1px solid blue;
}
body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-auto-rows: 100px;
}

/* Header */

header {
    grid-column: 2/3;
    grid-row: 1/2;
}

/* Sidebar */

.sidebar {
    grid-row: 1/7;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 300px 200px;
}
.sidebar__container {

}
.menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 40px;    
}

/* Main */

main {
    grid-column: 2/3;
    grid-row: 2/7;
}